---
---

@import "{{ site.theme }}";

section.page-header a.btn {display:none}
.page-header {
  background-image: url('/18447371_1322959754465942_3659102835151508306_n.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
