---
---

@import "{{ site.theme }}";

body {
  color: #a41e27
}

section.page-header a.btn {display:none}
.page-header {
  background-color: #ed1b2a;
  background-image: url('/goldbaum/18447371_1322959754465942_3659102835151508306_n.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
