---
---

@import "{{ site.theme }}";

body {
  color: #a41e27;
}

section.page-header a.btn {display:none}
.page-header {
  background-color: #ed1b2a;
  background-image: url('/18447371_1322959754465942_3659102835151508306_n.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3rem 1rem 1rem 1rem;
}
.main-content {
  padding: 2rem 0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #a41e27;
}
#can_embed_form {
  max-width: calc(100vw - 10px);
  margin:0;
}
